body {
    font-family: sans-serif;
}

header {
    padding: 1rem;
    max-width: 1279px;
    margin: auto;
}

h1 {
    font-size: 6rem;
    /* line-height om de tekst iets dichter bij elkaar te krijgen (ziet er wat mooier uit) */
    line-height: 90%;
    /* top 1rem, rechts en links 0, onder 2 rem*/
    margin: 1rem 0 2rem;

    @media (width > 768px) {
        font-size: 8rem;
    }
}

.flex-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* Houd de tekst uit elkaar voor 100% van de mogelijke breedte */
    justify-content: space-between;
    align-items: center;

    @media (width > 768px) {
        /* Tekst helemaal naar rechts */
        justify-content: end;
    }
}
.flex-header p {
    font-size: 0.8rem;
    font-weight: lighter;
    color: rgb(105, 105, 105);
}

.flex-header a {
   margin: 0 0.7rem;
}

/* 
any-pointer: fine 
Checked of de device word gebruikt met een muis of ander apparaat met hover state zoals een Apple pen.
*/

.flex-header a:hover {

    @media (any-pointer: fine) {
        text-decoration: underline;
        scale: 1.1;
    }
}



.bento-grid {
    display: grid;
    gap: 0.75rem;
    padding: 1rem;
    grid-auto-flow: dense;
    max-width: 1279px;
    margin: auto;

/* 
Als de viewport width GROTER is dan 768px, dan: 
*/

@media (width > 768px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        
        .span2 {
            grid-column: span 2;
            .grid-img {
            filter: blur(0);
            }
        }
    }

/* 
Als de viewport width GROTER is dan 1279px, dan: 
*/

@media (width > 1279px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

a {
    text-decoration: none;
    color: black;
}

.grid-img-wrapper {
    position: relative;
    overflow: hidden;
}

/* 
Selecteerd alle directe childs individueel BINNEN de .bento-grid class.
*/

.bento-grid > * {
    transition: 0.25s ease-in-out;
}

.grid-wrapper:hover {
    @media (any-pointer: fine) {

        transform: scale(1.05);
        border-bottom: 1px solid black;
    
        .grid-img {
        filter: blur(0);
        }
    
        .arrow-svg {
        transform: rotate(45deg);
        }
    }
}

.grid-img {
    width: 100%;
    height: 200px;
    object-fit: cover;

    /* background color voor als de image niet laad. */
    background-color: blueviolet;
    
    @media (any-pointer: fine) {
        filter: blur(10px);
        transition: 0.25s ease-in-out;
    }
}

.grid-text-wrapper {
    display: flex;
    justify-content: space-between;
}

.arrow-svg {
    width: 24px;
    transform: rotate(90deg);
    transition: 0.25s ease-in-out;
}
